<footer>
    <div class="footer-main-content">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="#">Blog</a></li>
            <li><a href="#">Portfolio</a></li>
        </ul>

        <section class="physical-contact">
            <p>
                <i class="fa fa-phone " ></i>
                643 . 747 . 8181
            </p>
            <p>
                <i class='fa fa-envelope'></i>
                6565 Main St. &#8226; unit 12 #4 &#8226; Sacremento, CA 90707
            </p>
        </section>
    </div>
    <p id="copyright">Copyright © 2021 MitchKoj Tech Services | Le Koj Group LLC</p>
</footer>
