<div class="main-content" id="main-content"> <!--- slide show container -->
    <section class="slideshow">
      <div class="slideshow-inner">

        <div class="slides">
          <div class="slide is-active ">
            <div class="slide-content">
              <div class="caption">
                <div class="title">Armored Range Site</div>
                <div class="text">
                  <p></p>
                </div>
                <a href="http://armoredrange.com/" class="btn">
                  <span class="btn-inner">View Site</span>
                </a>
              </div>
            </div>
            <div class="image-container">
               <img src="/assets/images/armoredrange2.png" alt="" class="image" /> 
            </div>
          </div>

          <div class="slide">
            <div class="slide-content">
              <div class="caption">
                <div class="title">Newspaper Page Sample</div>
                <div class="text">
                  <p></p>
                </div>
                <a href="/newspaper.html" class="btn">
                  <span class="btn-inner">View Page</span>
                </a>
              </div>
            </div>
            <div class="image-container">
                <iframe src="/newspaper.html" title="Newspaper Page Sample" alt="newspaper webpage" class="image"></iframe>
            </div>
          </div>

          <div class="slide">
            <div class="slide-content">
              <div class="caption">
                <div class="title">Microsoft Homepage Sample</div>
                <div class="text">
                  <p></p>
                </div>
                <a href="/techui.html" class="btn">
                  <span class="btn-inner">View Page</span>
                </a>
              </div>
            </div>
            <div class="image-container">
                <iframe src="/techui.html" title="Newspaper Page Sample" alt="newspaper webpage" class="image"></iframe>
            </div>
          </div>

          <div class="slide">
            <div class="slide-content">
              <div class="caption">
                <div class="title">Gym Sample Page</div>
                <div class="text">
                  <p></p>
                </div>
                <a href="/gym_site.html" class="btn">
                  <span class="btn-inner">View Page</span>
                </a>
              </div>
            </div>
            <div class="image-container">
                <iframe src="/gym_site.html" title="Gym Page Sample" alt="Gym webpage" class="image"></iframe>
            </div>
          </div>

          <div class="slide">
            <div class="slide-content">
              <div class="caption">
                <div class="title">Service Page Sample</div>
                <div class="text">
                  <p></p>
                </div>
                <a href="/service.html" class="btn">
                  <span class="btn-inner">View Page</span>
                </a>
              </div>
            </div>
            <div class="image-container">
                <iframe src="/service.html" title="Service Page Sample" alt="Service webpage" class="image"></iframe>
            </div>
          </div>
        </div>

        <div class="pagination">
          <div class="item is-active">
            <span class="icon">1</span>
          </div>
          <div class="item">
            <span class="icon">2</span>
          </div>
          <div class="item">
            <span class="icon">3</span>
          </div>
          <div class="item">
            <span class="icon">4</span>
          </div>
          <div class="item">
            <span class="icon">5</span>
          </div>
        </div>

        <div class="arrows">
          <div class="arrow prev">
            <span class="svg svg-arrow-left">
              <svg version="1.1" id="svg4-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M13,26c-0.256,0-0.512-0.098-0.707-0.293l-12-12c-0.391-0.391-0.391-1.023,0-1.414l12-12c0.391-0.391,1.023-0.391,1.414,0s0.391,1.023,0,1.414L2.414,13l11.293,11.293c0.391,0.391,0.391,1.023,0,1.414C13.512,25.902,13.256,26,13,26z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
          <div class="arrow next">
            <span class="svg svg-arrow-right">
              <svg version="1.1" id="svg5-Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="14px" height="26px" viewBox="0 0 14 26" enable-background="new 0 0 14 26" xml:space="preserve"> <path d="M1,0c0.256,0,0.512,0.098,0.707,0.293l12,12c0.391,0.391,0.391,1.023,0,1.414l-12,12c-0.391,0.391-1.023,0.391-1.414,0s-0.391-1.023,0-1.414L11.586,13L0.293,1.707c-0.391-0.391-0.391-1.023,0-1.414C0.488,0.098,0.744,0,1,0z"/> </svg>
              <span class="alt sr-only"></span>
            </span>
          </div>
        </div>
        
      </div>
    </section>
  </div> <!--- end slide show container -->
