@import url("https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C400italic%2C600%2C700%2C700italic%7COswald%3A400%2C300%7CVollkorn%3A400%2C400italic");
:root { --border-color: #810000; --border-color2: rgba(255, 255, 255, 0.2)/*#000*/; --text-color: #EEEBDD; --banner-text: #ce0000/*#008181/*#daa520*/; --banner-text-rgradient: radial-gradient(circle, rgba(36,27,0,1) 0%, rgba(121,95,9,1) 48%, rgba(255,0,0,1) 100%); --title-color: #CE1212; }

body { list-style: none; background: #262626; color: var(--text-color); font-family: "Oswald", sans-serif; letter-spacing: 00.5px; }

p { line-height: 1.5em; }

li { list-style-type: none; }

a { text-decoration: none; color: #000; }

/* ------when the screen is less than 600px wide --- */
@media screen and (max-width: 600px) { main { display: grid; width: 90vw; margin: 20px; } }

/* Add a black background color to the top navigation */
.topnav { background-color: #333; overflow: hidden; }

/* Style the links inside the navigation bar */
.topnav a { float: left; display: block; color: #a02121; text-align: center; padding: 14px 16px; text-decoration: none; font-size: 17px; }

/* Change the color of links on hover */
.topnav a:hover { background-color: #3B3B3B; color: black; }

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon { display: none; }

/* -------------------------------------------------------------- */
/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) { .topnav a:not(:first-child) { display: none; } .topnav a.icon { float: right; display: block; } }

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
@media screen and (max-width: 600px) { .topnav.responsive { position: relative; } .topnav.responsive a.icon { position: absolute; right: 0; top: 0; } .topnav.responsive a { float: none; display: block; text-align: left; } }

#home-link { /**/ padding: 2px; /**/ padding-top: 7px; padding-left: 10px; padding-right: 10px; }

.nav-links { transform: translateY(10%); }

.fa-align-right { margin-left: 10px; }

main { display: grid; width: 50vw; margin: auto; }

header { width: 100%; /** background-color: rgba(0, 0, 0, 0.205); /**/ }

#about-text { margin: 5px auto; padding-top: 15px; padding-bottom: 15px; }

.board-content { width: 90%; display: grid; }

.board-content img { width: 90%; max-width: 800px; }

.wrapper { margin: 0 auto; align-self: center; }

#board-content .btn-inner { color: #fff; }

#board-content .btn-inner:hover { color: #000; }

/** .wrapper button { border: none; margin-top: 30px; width: 100%; background-color: aqua; color: #080710; padding: 15px 0; font-size: 18px; font-weight: 600; letter-spacing: 0.5px; border-radius: 5px; cursor: pointer; } */
.service-section { display: grid; grid-template-columns: repeat(3, 1fr); grid-template-rows: 1fr; width: 90%; margin: 5px auto; margin-top: 50px; margin-bottom: 50px; /** border: 1px solid red; /**/ }

.service-wrapper { display: grid; /** border: 1px solid red; /**/ padding: 10px; width: 88%; height: 500px; background-color: rgba(0, 0, 0, 0.205); border: 1px solid rgba(0, 0, 0, 0.1); backdrop-filter: blur(10px); box-shadow: 0 0 10px rgba(8, 7, 16, 0.6); }

.service-wrapper { grid-template-rows: 1fr auto 1fr; grid-template-columns: 1fr; }

.service-wrapper:hover { width: 90%; }

.service-wrapper img { width: 200px; margin: 5px auto; /** border: 1px solid blue; /**/ }

.service-wrapper p, h6 { text-align: center; }

.service-wrapper h6 { font-size: 20px; color: var(--title-color); }

.contact-section { height: 750px; background-color: rgba(0, 0, 0, 0.205); margin: 10px auto; margin-right: 70px; padding: 20px; }

.shape { position: absolute; height: 200px; width: 200px; border-radius: 50%; }

.shape:first-child { background: linear-gradient(#1845ad, #23a2f6); /** left: -80px; right: -80px; /**/ transform: translate(140%, -8%); z-index: -1; }

.shape:last-child { background: linear-gradient(to right, #ff512f, #f09819); /**/ right: -10px; /** bottom: -50px; /**/ transform: translate(-200%, -90%); z-index: -1; }

form { height: 630px; width: 400px; background-color: rgba(255, 255, 255, 0.13); /** position: absolute; /**/ margin: 0 auto; margin-top: 10px; /** border-radius: 10px; /**/ backdrop-filter: blur(10px); border: 1px solid rgba(0, 0, 0, 0.1); box-shadow: 0 0 10px rgba(8, 7, 16, 0.6); padding: 50px 35px; }

form * { font-family: "Oswald", sans-serif; color: #fff; letter-spacing: 0.5px; outline: none; border: none; }

form h3 { font-size: 32px; font-weight: 500; line-height: 42px; text-align: center; color: #000; }

label { display: block; margin-top: 30px; font-size: 16px; font-weight: 500px; }

input { display: block; height: 50px; width: 100%; background-color: rgba(238, 235, 221, 0.1); border-radius: 3px; padding: 0 10px; margin-top: 8px; font-size: 14px; font-weight: 300; }

input:focus { background-color: #000; }

textarea { display: block; height: 200px; width: 100%; background-color: rgba(238, 235, 221, 0.1); /**/ border-radius: 3px; /**/ padding: 0 10px; margin-top: 8px; margin-bottom: 20px; font-size: 14px; font-weight: 300; }

textarea:focus { background-color: #000; }

::placeholder { color: #e5e5e5; }

/**/
#form-btn .btn-inner { margin-top: 30px; width: 100%; /** background-color: aqua; /**/ color: #000 !important; /**/ padding: 15px 0; /** font-size: 18px; font-weight: 600; border-radius: 5px; /**/ cursor: pointer; /**/ }

/**/
footer { display: grid; grid-template-rows: 1fr 50px; margin-top: 40px; margin-bottom: 20px; letter-spacing: 0.5px; }

.footer-main-content { display: grid; grid-template-rows: repeat(2, 1fr); }

.footer-main-content ul { width: 50%; display: grid; grid-template-columns: repeat(3, 1fr); /** align-self: flex-start; /**/ align-content: center; margin: 0 auto; /** border: 1px solid blue; /**/ }

.footer-main-content ul li { text-align: center; transform: translateX(-17%); }

.footer-main-content a { color: #fff; }

.physical-contact { display: grid; margin: 0 auto; margin-bottom: 10px; }

.physical-contact p { text-align: center; width: 90%; margin: 0 auto; margin-top: 5px; margin-bottom: 10px; padding: 5px; color: rgba(255, 255, 255, 0.2); /**/ border: 1px solid var(--border-color2); /**/ }

.physical-contact p span { margin-right: 5px; }

#copyright { width: 90%; align-self: center; margin: 0 auto; margin-top: 10px; margin-bottom: 5px; text-align: center; font-size: 11px; color: rgba(255, 255, 255, 0.2); /** border: 1px solid blue; /**/ }

/** button:hover { border: 2px solid aqua; background-color: #fff; } /**/
footer a:hover { color: #000; }

#logo { width: 2.5em; }

.copyright { width: 99%; display: grid; margin: 0 auto; /** border: 1px solid red; /**/ }

.logo { width: 3em; margin: 0 auto; /** border: 1px solid red; /**/ }

#mitchkoj_logo { margin-bottom: 10px; }

#le_koj_logo { width: 6em; }

/* ------when the screen is less than 600px wide --- */
@media screen and (max-width: 600px) { #about-text { font-size: 1.1em; width: 90%; } #board-content { grid-auto-flow: row; grid-template-rows: 70% 30% !important; grid-template-columns: 1fr; } .board-content img { width: 100%; max-width: 800px; margin-top: 10px; } .wrapper { width: 100%; padding: 5px; /** border: 1px solid red; /**/ transform: translateY(-15%); } .wrapper h4 { font-size: 1.5em; width: 90%; margin: 0 auto; margin-bottom: 10px; color: var(--banner-text); } .wrapper button { margin: 0 auto; margin-bottom: 40px; transform: translateX(5%); } .service-section { grid-auto-flow: row; grid-template-rows: repeat(3, 1fr); grid-template-columns: 1fr; /** border: 1px solid red; /**/ } .service-wrapper { width: 90%; display: grid; grid-template-rows: 1fr auto 1fr; grid-template-columns: 1fr; margin-bottom: 15px; } .service-wrapper h6 { transform: translateY(-10%); } .service-wrapper p, h6 { transform: translateY(-20%); } .contact-section { width: 90%; height: 720px; margin: 0 auto; margin-right: 20px; padding: 5px; /** border: 1px solid red; /**/ } .shape { height: 10em; width: 10em; } .shape:first-child { transform: translate(-30%, -10%); } .shape:last-child { transform: translate(-30%, -95%); } form { height: 620px; width: 80vw; max-width: 400px; /**/ padding: 40px 20px; /** border: 1px solid red; /**/ } form h3 { font-size: 2em; font-weight: 500; line-height: 42px; } button #form-btn .btn { width: 1em; margin-top: 10px; } input { display: block; height: 50px; width: 90%; background-color: rgba(238, 235, 221, 0.1); } textarea { display: block; height: 200px; width: 90%; background-color: rgba(238, 235, 221, 0.1); } footer { margin-bottom: 5px; } .footer-main-content ul { width: 90%; } .physical-contact { grid-auto-flow: row; grid-template-rows: 40% 60%; grid-template-columns: 1fr; width: 90%; margin-top: 5px; transform: translateY(-50%); } #copyright { transform: translateY(-50%); } }

/* Medium devices (landscape tablets, 700px and up) */
@media only screen and (min-width: 700px) { #about-text { font-size: 1.1em; width: 90%; margin: 0 auto; } .board-content { grid-auto-flow: row; grid-template-rows: 70% 30% !important; grid-template-columns: 1fr; } .board-content img { margin-top: 10px; } .wrapper { width: 100%; padding: 5px; /** border: 1px solid red; /**/ transform: translateY(-5%); } .wrapper h4 { font-size: 1.5em; width: 90%; margin: 0 auto; margin-bottom: 10px; margin-top: 10px; color: var(--banner-text); } .wrapper button { transform: translateX(5%); max-width: 400px; } .service-section { /** grid-auto-flow: row; /**/ grid-template-rows: repeat(3, 1fr); grid-template-columns: 1fr; /** border: 1px solid red; /**/ } .service-wrapper { width: 90%; display: grid; grid-template-rows: 1fr auto 1fr; grid-template-columns: 1fr; margin-bottom: 15px; } .service-wrapper h6 { transform: translateY(-10%); } .service-wrapper p, h6 { transform: translateY(-20%); } .contact-section { width: 90%; margin: 0 auto; } .footer-main-content ul { width: 90%; } .physical-contact { grid-auto-flow: row; grid-template-rows: 40% 60%; grid-template-columns: 1fr; width: 90%; margin-top: 5px; transform: translateY(-50%); } .physical-contact p { padding: 5px; } #c-phone { padding-bottom: 20px; } #copyright { transform: translateY(-50%); } }

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) { #about-text { font-size: 1.4em; width: 80%; margin: 5px auto; } .board-content { grid-template-columns: 1fr 40%; grid-template-rows: 1fr; } .wrapper { width: 50%; padding: 0; transform: translateY(0%); } .wrapper h4 { font-size: 25px; } .service-section { grid-template-columns: repeat(3, 1fr); grid-template-rows: 1fr; } .service-wrapper { grid-template-rows: 1fr auto 1fr; grid-template-columns: 1fr; } .service-wrapper p, h6 { transform: translateY(0%); } .service-wrapper h6 { transform: translateY(0%); } .contact-section { width: 89%; margin: 10px auto; } .physical-contact { grid-template-columns: 40% 50%; grid-template-rows: 1fr; width: 70%; margin-top: 10px; transform: translateY(0%); } #c-phone { padding-bottom: 5px; } #copyright { transform: translateY(0%); } }

.main-content { font: 14px/2 "Open sans",sans-serif; letter-spacing: 0.05em; margin-bottom: 50px; }

.btn { display: inline-block; padding: 13px 20px; color: #000; text-decoration: none; position: relative; background: transparent; border: 1px solid #810000; font: 12px/1.2 "Oswald", sans-serif; letter-spacing: 0.4em; text-align: center; text-indent: 2px; text-transform: uppercase; transition: color 0.1s linear 0.05s; }

.btn::before { content: ""; display: block; position: absolute; top: 50%; left: 0; width: 100%; height: 1px; background: #e1e1e1; z-index: 1; opacity: 0; transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0.2s; }

.btn::after { transition: border 0.1s linear 0.05s; }

.btn .btn-inner { position: relative; z-index: 2; }

.btn .btn-inner { color: #810000; }

.btn .slide-content .btn-inner { color: #810000; }

.btn .btn-inner .fa { color: #000; }

.btn:hover { color: #810000; /** color: #373737; /**/ transition: color 0.1s linear 0s; }

.btn:hover::before { top: 0; height: 100%; opacity: 1; transition: height 0.2s ease, top 0.2s ease, opacity 0s linear 0s; }

.btn:hover::after { border-color: #373737; transition: border 0.1s linear 0s; }

.slideshow { overflow: hidden; position: relative; width: 100%; height: 100vh; z-index: 1; }

.slideshow .slideshow-inner { position: absolute; top: 0; left: 0; width: 100%; height: 100%; }

.slideshow .slides { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; }

.slideshow .slide-content .btn { color: #810000; background-color: rgba(0, 0, 0, 0.8); }

.slideshow .slide { display: none; overflow: hidden; position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 1; opacity: 0; transition: opacity 0.3s ease; }

.slideshow .slide.is-active { display: block; }

.slideshow .slide.is-loaded { opacity: 1; }

.slideshow .slide .caption { padding: 0 100px; }

.slideshow .slide .image-container { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background-position: center; z-index: 1; background-size: cover; /** image-rendering: optimizeQuality; /**/ }

.slideshow .slide .image-container::before { content: ""; display: block; position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: rgba(0, 0, 0, 0.5); }

.slideshow .slide .image { width: 100%; object-fit: cover; height: 100%; }

.slideshow .slide-content { position: absolute; top: 0; left: 0; width: 100%; height: 100%; z-index: 2; color: #fff; text-align: center; display: flex; justify-content: center; align-items: center; }

.slideshow .slide .title { margin: 0 auto 15px; max-width: 1000px; font: 300 50px/1.2 "Oswald", sans-serif; letter-spacing: 0.35em; text-transform: uppercase; color: #CE1212; }

.slideshow .slide .text { margin: 0 auto; max-width: 1000px; font-size: 18px; line-height: 1.4; }

.slideshow .slide .btn { margin: 15px 0 0; border-color: #810000; }

.slideshow .slide .btn::before { background: #fff; }

.slideshow .pagination { position: absolute; bottom: 35px; left: 0; width: 100%; height: 12px; cursor: default; z-index: 2; text-align: center; }

.slideshow .pagination .item { display: inline-block; padding: 15px 5px; position: relative; width: 46px; height: 32px; cursor: pointer; text-indent: -999em; z-index: 1; }

.slideshow .pagination .item + .page { margin-left: -2px; }

.slideshow .pagination .item::before { content: ""; display: block; position: absolute; top: 15px; left: 5px; width: 36px; height: 2px; background: rgba(255, 255, 255, 0.5); transition: background 0.2s ease; }

.slideshow .pagination .item::after { width: 0; background: #fff; z-index: 2; transition: width 0.2s ease; }

.slideshow .pagination .item:hover::before, .slideshow .pagination .item.is-active::before { background-color: #fff; }

.slideshow .arrows .arrow { margin: -33px 0 0; padding: 20px; position: absolute; top: 50%; cursor: pointer; z-index: 3; }

.slideshow .arrows .prev { left: 30px; }

.slideshow .arrows .prev:hover .svg { left: -10px; }

.slideshow .arrows .next { right: 30px; }

.slideshow .arrows .next:hover .svg { left: 10px; }

.slideshow .arrows .svg { position: relative; left: 0; width: 14px; height: 26px; fill: #fff; transition: left 0.2s ease; }

/*# sourceMappingURL=styles.css.map */